/*导航栏样式*/
*{
				border: 0px;
				margin: 0px;
				padding: 0px;
			}
			.navi{
				list-style: none;
				background-color: #3B99FC;
				/*width: 1160px;*/
				height: 40px;
				margin: 0px auto;
			}
			
			.navi ul{
				width: 1160px;
				height: 40px;
				margin: 0px auto;
				list-style: none;
			}
			.navi .navi_item,.navi_item1{
				float: left;
				line-height: 40px;
				text-align: center;
				color: white;
				font-size: 14px;
				width: 145px;
				height: 40px;
				
			}
			
			.navi .navi_item1{
				background-color: #2676EC;
			}
			
			.navi .navi_item:hover{
				background-color: #3685EC;
			}
			


/*服务栏样式*/
.service_item{
				width: 170px;
				height: 70px;
				float: left;
			}
			
			.service_item dt{
				text-align: center;
			}
			
			.service_item dd{
				text-align: center;
			}
			
			.service_item a{
				text-decoration: none;
			}
			
			.service_item font{
				font-size: 14px;
				color: black;
			}
			
			#service{
				height: 140px;
				width: 1190px;
				margin: 0px auto;
			}
			
			
			
			
/*广告栏样式*/	
#outerdiv{
				width: 1100px;
				height: 300px;
				/*border: 1px solid black;*/
				margin: 0px auto;
			}
			
			.d1,.d2,.d3,.d4{
				width: 500px;
				height: 100px;
				/*border: 1px solid red;*/
				float: left;
				margin: 10px;
			}
			
			.d1 img{
				width: 500px;
				height: 100px;
			}
			.d2 img{
				width: 500px;
				height: 100px;
			}
			.d3 img{
				width: 500px;
				height: 100px;
			}
			.d4 img{
				width: 500px;
				height: 100px;
			}
			





/*旅游栏样式*/
.travel_item{
				width: 290px;
				height: 244px;
				border: 1px solid gray;
				float: left;
				margin: 5px;
			}
			
			.travel_item a{
				text-decoration: none;
			}
			
			.travel_item p{
				line-height: 40px;
				color: black;
				font-size: 14px;
			}
			
			.travel_item p:hover{
				color: #3B99FC;
			}
			
			.travel_item span{
				color: #FF8201;
				font-size: 20px;
			}
			
			.travel_item font{
				font-size: 14px;
			}
			
			.travel_item dt{
				padding-left: 10px;
			}
			
			#travel{
				width: 1210px;
				height: 518px;
				/*border: 1px solid green;*/
				margin: 0px auto;
			}
			
			
			




/*介绍栏样式*/
.introduce{
				width: 400px;
				height: 300px;
				border: 1px solid #3B99FC;
				float: left;
			}
			
			.introduce h3{
				height: 50px;
				background-color: #3B99FC;
				color: white;
				text-align: center;
				line-height: 50px;
			}
			
			.introduce ul{
				/*border: 1px solid red;*/
				margin-left: 50px;
				margin-top: 30px;
				list-style: none;
				list-style-image: url(../img/list_image.png);
			}
			
			.introduce a{
				text-decoration: none;
				font-size: 15px;
				color: black;
			}
			
			.introduce li{
				height: 40px;
			}
			
			.introduce a:hover{
				color: gray;
			}
			
			.outerintroduce{
				width: 1227px;
				height: 300px;
				/*border: 1px solid green;*/
				margin: 0px auto;
			}
			
			#in1,#in2{
				margin-right: 10px;
			}
			



/*提示栏样式*/
.div1{
				width: 60px;
				height: 105px;
				/*border: 1px solid red;*/
				margin-bottom: 5px;
			}
			
			.div2{
				width: 63px;
				height: 85px;
				/*border: 1px solid red;*/
			}
			
			#outerdiv1{
				width: 63px;
				height: 420px;
				/*border: 1px solid green;*/
				position: fixed;
				right: 0px;
				top: 150px;
				
			}